<link rel="import" href="./common/nav.html?__inline">
<!-- 博客 -->
<div class="list-box container">
    <div class="blog">
        <div class="blog-department">
            <ul class="blog-list">
                <li data="all">全部</li>
                <li class="active" data="Android">Android</li>
                <li data="ios">ios</li>
                <li data="web">web</li>
                <li data="php">php</li>
            </ul>
        </div>
        <ul class="blog_ul"></ul>
    </div>
</div>
<div class="spinner-wrapper">
    <div class="spinner"></div>
</div>
<link rel="import" href="./common/footer.html?__inline">