<link rel="import" href="./common/nav.html?__inline">
<div class="message-bg" style="background: url('/static/asset/image/message_pic.png') no-repeat center center;"></div>
<!-- 留言墙 -->
<div class="title-box container">
    <div class="heading clearFloat">
        <h3>留言板</h3>
    </div>
    <div class="message-form clearFloat">
        <input placeholder="姓名" class="message-name" type="text" id="name">
        <textarea placeholder="留言" class="message-content"></textarea>
        <input class="send" id="suggest_submit" type="submit" value="提交">
    </div>
</div>
<link rel="import" href="./common/footer.html?__inline">
