<link rel="import" href="./common/nav.html?__inline">
<!-- 团队风采 -->
<div class="list-box container">
    <div class="team">
        <ul class="team_ul">
            <li class="common_li team_li">
                <div>
                    <embed src="http://player.youku.com/player.php/sid/XMzEwMjUzMDQ4OA==/v.swf" allowfullscreen="true" quality="high" width="100%" height="211" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash">
                    <div class="common_message">
                        <div class="common_title team-title">安卓仔真人CS大战</div>
                        <div class="common_type team_type">团队风采</div>
                    </div>
                </div>
            </li>
            <li class="common_li team_li">
                <div>
                    <embed src="http://player.youku.com/player.php/sid/XMzEwMjUzMDQ4OA==/v.swf" allowfullscreen="true" quality="high" width="100%" height="211" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash">
                    <div class="common_message">
                        <div class="common_title team-title">安卓仔真人CS大战</div>
                        <div class="common_type team_type">团队风采</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<link rel="import" href="./common/footer.html?__inline">
