<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>灵机文化</title>
    <link rel="stylesheet" type="text/css" href="/devPub/asset/css/common.css">
    <link rel="stylesheet" type="text/css" href="/devPub/asset/css/base.css">
    <link rel="stylesheet" type="text/css" href="/devPub/asset/css/home.css">
</head>
<body>
    <header id="header">
        <div class="container clearFloat">
            <a href="index.html" class="logo">
                <span class="logo-name">技术中心</span>
            </a>
            <ul class="nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="blog.html">博客</a></li>
                <li><a href="share.html">技术分享</a></li>
                <li><a href="source.html">开源项目</a></li>
                <li><a href="star.html">技术之星</a></li>
                <li><a href="team.html">团队风采</a></li>
                <li><a href="birthday.html">生日会</a></li>
                <li><a href="message.html">留言墙</a></li>
            </ul>
        </div>
    </header>

<div class="index-bg" style="background: url('/devPub/asset/image/index_pic.png') no-repeat center center;"></div>
<!-- 首页 -->
<div class="index-wrapper">
    <!-- 近一周生日 -->
    <div class="title-box container index-box">
        <div class="heading clearFloat">
            <h3>近一周生日</h3>
        </div>
        <div class="birthday">
            <ul class="birthday_ul">
                <li class="birthday_li">
                    <div>
                        <div class="birthday-bg" style="background: url('http://bmob-cdn-15734.b0.upaiyun.com/2017/12/19/ef41b9774032a1bc806c94e9291ac2e2.jpg') no-repeat center center;background-size: 100% 100%;"></div>
                        <div class="birthday_message">
                            <div class="birthday_name">皓然</div>
                            <div class="hr"></div>
                            <div class="birthday_date">六月十六</div>
                            <div class="birthday_day">距离生日还有<span>7</span>天</div>
                        </div>
                    </div>
                </li>
                <li class="birthday_li">
                    <div>
                        <div class="birthday-bg" style="background: url('http://bmob-cdn-15734.b0.upaiyun.com/2017/12/19/ef41b9774032a1bc806c94e9291ac2e2.jpg') no-repeat center center;background-size: 100% 100%;"></div>
                        <div class="birthday_message">
                            <div class="birthday_name">皓然</div>
                            <div class="hr"></div>
                            <div class="birthday_date">六月十六</div>
                            <div class="birthday_day">距离生日还有<span>7</span>天</div>
                        </div>
                    </div>
                </li>
                <li class="birthday_li">
                    <div>
                        <div class="birthday-bg" style="background: url('http://bmob-cdn-15734.b0.upaiyun.com/2017/12/19/ef41b9774032a1bc806c94e9291ac2e2.jpg') no-repeat center center;background-size: 100% 100%;"></div>
                        <div class="birthday_message">
                            <div class="birthday_name">皓然</div>
                            <div class="hr"></div>
                            <div class="birthday_date">六月十六</div>
                            <div class="birthday_day">距离生日还有<span>7</span>天</div>
                        </div>
                    </div>
                </li>
                <li class="birthday_li">
                    <div>
                        <div class="birthday-bg" style="background: url('http://bmob-cdn-15734.b0.upaiyun.com/2017/12/19/ef41b9774032a1bc806c94e9291ac2e2.jpg') no-repeat center center;background-size: 100% 100%;"></div>
                        <div class="birthday_message">
                            <div class="birthday_name">皓然</div>
                            <div class="hr"></div>
                            <div class="birthday_date">六月十六</div>
                            <div class="birthday_day">距离生日还有<span>7</span>天</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- 首页推荐 -->
    <div class="title-box container index-box">
        <div class="heading clearFloat">
            <h3>首页推荐</h3>
        </div>
        <div class="recommend">
            <ul class="recommend_ul">
                <li class="common_li index_li">
                    <div>
                        <img class="common_img" src="http://bmob-cdn-15734.b0.upaiyun.com/2018/05/07/cbbd270440fa04b8807d72245df838e4.jpg">
                        <div class="common_message">
                            <div class="common_title">技术贡献奖：灵机内部论坛</div>
                            <div class="common_write">诺卡</div>
                            <div class="common_type">技术之星</div>
                        </div>
                    </div>
                </li>
                <li class="common_li index_li">
                    <div>
                        <img class="common_img" src="http://bmob-cdn-15734.b0.upaiyun.com/2018/05/03/7192d8dc40200370808f1e53917be634.jpg">
                        <div class="common_message">
                            <div class="common_title">技术贡献奖：手机号码采集系统</div>
                            <div class="common_write">子川</div>
                            <div class="common_type">技术之星</div>
                        </div>
                    </div>
                </li>
                <li class="common_li index_li">
                    <div>
                        <img class="common_img" src="http://bmob-cdn-15734.b0.upaiyun.com/2018/05/07/cbbd270440fa04b8807d72245df838e4.jpg">
                        <div class="common_message">
                            <div class="common_title">技术贡献奖：灵机内部论坛</div>
                            <div class="common_write">诺卡</div>
                            <div class="common_type">技术之星</div>
                        </div>
                    </div>
                </li>
                <li class="common_li index_li">
                    <div>
                        <img class="common_img" src="http://bmob-cdn-15734.b0.upaiyun.com/2018/05/03/7192d8dc40200370808f1e53917be634.jpg">
                        <div class="common_message">
                            <div class="common_title">技术贡献奖：手机号码采集系统</div>
                            <div class="common_write">子川</div>
                            <div class="common_type">技术之星</div>
                        </div>
                    </div>
                </li>
                <li class="common_li index_li">
                    <div>
                        <img class="common_img" src="http://bmob-cdn-15734.b0.upaiyun.com/2018/05/07/cbbd270440fa04b8807d72245df838e4.jpg">
                        <div class="common_message">
                            <div class="common_title">技术贡献奖：灵机内部论坛</div>
                            <div class="common_write">诺卡</div>
                            <div class="common_type">技术之星</div>
                        </div>
                    </div>
                </li>
                <li class="common_li index_li">
                    <div>
                        <img class="common_img" src="http://bmob-cdn-15734.b0.upaiyun.com/2018/05/03/7192d8dc40200370808f1e53917be634.jpg">
                        <div class="common_message">
                            <div class="common_title">技术贡献奖：手机号码采集系统</div>
                            <div class="common_write">子川</div>
                            <div class="common_type">技术之星</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="popup">
    <img src="" alt="">
</div>
<footer id="footer">
    <div class="footer-nav clearFloat">
        <ul>
            <li>
                <a href="#">公司概况</a>
            </li>
            <li>
                <a href="#">公司动态</a>
            </li>
            <li>
                <a href="#">灵机科技</a>
            </li>
            <li>
                <a href="#">灵机教育</a>
            </li>
            <li>
                <a href="#">灵机生活</a>
            </li>
            <li>
                <a href="#">加入我们</a>
            </li>
            <li>
                <a href="#">开放合作</a>
            </li>
        </ul>
    </div>
    <p class="copyright">广东灵机文化传播有限公司版权所有&nbsp;@2006- 2018&nbsp;粤ICP备12023257号-2</p>
</footer>
<script type="text/javascript" src="/devPub/asset/js/jquery.js"></script>
<script type="text/javascript" src="/devPub/asset/js/nav.js"></script>
<script type="text/javascript" src="/devPub/asset/js/bmob-min.js"></script>
<script type="text/javascript" src="/devPub/asset/js/home.js"></script>
</body>

</html>
<script type="text/javascript" src="/devPub/asset/js/lunar.js"></script>
<script type="text/javascript">
    // 点击看大图
    $(".birthday-bg").click(function(e){
        var img_url = $(this).css("backgroundImage").replace('url(\"','').replace('\")','');
        if (img_url) {
            $(".popup").children("img").attr("src", img_url);
            $(".popup").show();
        }
    });
    $(".index_li").click(function(e){
        var img_url = $(this).find("img")[0].src;
        if (img_url) {
            $(".popup").children("img").attr("src", img_url);
            $(".popup").show();
        }
    });
    // 点击大图关闭
    $(".popup").click(function(){
        $(this).hide();
    });
</script>