<footer id="footer">
    <div class="footer-nav clearFloat">
        <ul>
            <li>
                <a href="#">公司概况</a>
            </li>
            <li>
                <a href="#">公司动态</a>
            </li>
            <li>
                <a href="#">灵机科技</a>
            </li>
            <li>
                <a href="#">灵机教育</a>
            </li>
            <li>
                <a href="#">灵机生活</a>
            </li>
            <li>
                <a href="#">加入我们</a>
            </li>
            <li>
                <a href="#">开放合作</a>
            </li>
        </ul>
    </div>
    <p class="copyright">广东灵机文化传播有限公司版权所有&nbsp;@2006- 2018&nbsp;粤ICP备12023257号-2</p>
</footer>
<script type="text/javascript" src="/static/asset/js/jquery.js"></script>
<script type="text/javascript" src="/static/asset/js/nav.js"></script>
<script type="text/javascript" src="/static/asset/js/bmob-min.js"></script>
<script type="text/javascript" src="/static/asset/js/home.js"></script>
</body>

</html>