<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>灵机文化</title>
    <link rel="stylesheet" type="text/css" href="/static/asset/css/common.css">
    <link rel="stylesheet" type="text/css" href="/static/asset/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/asset/css/home.css">
</head>
<body>
    <header id="header">
        <div class="container clearFloat">
            <a href="index.html" class="logo">
                <span class="logo-name">技术中心</span>
            </a>
            <ul class="nav">
                <li><a href="index.html">首页</a></li>
                <li><a href="blog.html">博客</a></li>
                <li><a href="share.html">技术分享</a></li>
                <li><a href="source.html">开源项目</a></li>
                <li><a href="star.html">技术之星</a></li>
                <li><a href="team.html">团队风采</a></li>
                <li><a href="birthday.html">生日会</a></li>
                <li><a href="message.html">留言墙</a></li>
            </ul>
        </div>
    </header>
